
  
@media only screen and (max-width: 1200px) {

  }

@media only screen and (max-width: 992px) {
    .headerMenu {
      width: 40%;
      margin-right: 20px;
    }

    .headerLogo {
      margin-left: 20px;
    }

  }

@media only screen and (max-width: 768px) {

  .headerLogo {
    width: 150px;
  }

  .headerMenu {
    width: 60%;
  }

  .mainSection {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 20px;
}


  }

@media only screen and (max-width: 576px) {

  h3 {
   color: black;
    grid-area: h3;
    
    
    
  }
  }

