@media only screen and (min-width: 1200px) {
  /*INICIO PAGINA EQUIPO*/
  .equipo img {
    float: inline-start;
  }
  h6 {
    visibility: hidden;
  }
  .tablaPlanes {
    display: grid;
    column-gap: 1px;
    row-gap: 1px;
  }
  /*FIN PAGINA EQUIPO*/
}

@media only screen and (max-width: 768px) {
  /*INICIO FOOTER*/
  .socialIcon {
    left: 43%;
    position: relative;
  }
  /*FIN FOOTER*/

  /*INICIO PAGINA EQUIPO*/
  
  .cajasEquipo {
    padding: 5px;
    margin: 20px;
    text-align: left;
  }
  h6 {
    visibility: hidden;
  }
  /*FIN PAGINA EQUIPO*/

  /*INICIO PAGINA TRABAJOS*/  
  h4 {
    font-size: 1rem;
    font-family: "Open Sans Condensed", sans-serif;
  }
  /*FIN PAGINA TRABAJOS*/

}

@media only screen and (max-width: 576px) {
  /*FOOTER*/
  h3 {
    visibility: hidden;
  }

  .contactosEstilo {
    font-size: 0.875rem;
  }
  .socialIcon {
    left: 35%;
    position: relative;
  }
  /*FIN FOOTER*/

  /*INICIO PAGINA EQUIPO*/

  
  h6 {
    visibility: visible;
    text-align: center;
  }
  .cajasEquipo p {
    visibility: hidden;
  }
  /*FIN PAGINA EQUIPO*/

  /*INICIO PAGINA TRABAJO*/

  .clientesText {
    visibility: hidden;
    }

  /*FIN PAGINA TRABAJOS*/

  /*PAGINA PLANES*/
  #tamanioPlanes {
    display: grid;
    margin: 0px;
    margin-bottom: 20px;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 25% 25% 25%;
    column-gap: 1px;
    row-gap: 1px;
    align-items: self-start;
  }

  .rowDescripcion {
    font-size: 1rem;
  }

   
  /*INICIO PAGINA CONTACTO*/
  #formulario #mensajeContacto {
    margin: 0;
    
  }

  /*FIN PAGINA CONTACTO*/
}
/*INICIO PAGINA ERROR*/

.errorPagina{
    padding: 50px;
  }

/*FIN PAGINA ERROR*/
