@import "utilities/_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**body {
  background-image: url(/img/fototerracita.png);
  
}
*/
/*INICIO ENCABEZADO GENERAL*/

header {
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .fotoEncabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count: initial;
    
    img {
      width: 200px;
      height: 200px;
    }
}

}
#menu {
  color: $colorTipografia;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  background-image: linear-gradient(to top, #dfb129, #cc7760);
}
ul {
  display: flex;
  list-style-type: none;

  li {
    border-right: 2px solid #cc7760;
    margin: 0;

    #navInicio {
      text-decoration: none;
      text-align: center;
      font-size: 1.3rem;
      font-family: $tipografiaTexto;
      color: $colorTipografia;
      font-weight: bolder;

      &:hover {
        background-color: $colorFondo;
        color: #cc7760;
        padding: 4px;
      }
    }
  }
}
.navbar-light .navbar-brand {
  color: #377f8b;
  font-weight: bold;
}

li:last-child {
  border-right: none;
}

/*FIN ENCABEZADO GENERAL*/

/*INICIO PAGINA PRINCIPAL*/
.fondo {
  display: flex;
  flex-direction: column;
  color: $colorTitulo;
  font-family: $tipografiaTitulo;
  background-image: $imgFondo;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
  .tituloPrincipal {
    color: $colorTipografia;
    font-size: $tamanioTitulo;
    text-align: center;
    font-family: $tipografiaTitulo;
    padding: 20px;
    padding-bottom: 0px;
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count: initial;
  }
    .text-muted{
      color: #cc7760 !important;
      font-family: $tipografiaTexto;
      font-weight: bolder;
    }
}

.container {
  position: relative;
  top: 80px;  
  background-color: #377f8b;
  opacity: 90%;
}
#textoPrincipal {
  font-size: 1.5rem;
  color: $colorTipografia;
  font-family: $tipografiaTexto;
  animation-duration: 8s;
  animation-name: aparecer;
  animation-iteration-count: inherit;
}
/*FIN PAGINA PRINCIPAL*/

/*INICIO FOOTER*/
.piePagina {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 20% 40% 40%;
  grid-template-areas:
    "h3 h3 h3"
    "pie1 pie4 pie2"
    "pie3 pie3 pie3";
  column-gap: 0px;
  row-gap: 1px;
  align-items: end;
  background-color: #377f8b;
  background-image: linear-gradient(#cc7760, #377f8b);
}
h3 {
    font-family: $tipografiaTitulo;
    color: $colorTipografia;
    font-size: $tamanioTitulo;
    grid-area: h3;
    text-align: center;
    visibility: hidden;
}

.contactosEstilo p {
  color: $colorTipografia;
  font-family: $tipografiaTexto;
  font-size: 0.875rem;
  text-align: center;
  font-weight: bold;
}
#pie1 {
  grid-area: pie1;
}
#pie1 p {
   margin-bottom: 0.7rem;
}
#pie4 {
  grid-area: pie4;
}
#pie2 {
  grid-area: pie2;
}
#pie3 {
  grid-area: pie3;
}
.socialIcon {
  color: #f9c733;
  font-size: 1.75rem;
  left: 25%;
  position: relative;
  text-decoration: none;
}
/*FIN FOOTER*/

/*INICIO PÁGINA EQUIPO*/

.equipo {
  @extend.container;
  height: 70%;
}
.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}
.equipo img {
  float: left;
  padding: 20px;
  padding-left: 30px;
  padding-right: 0px
}
.cajasEquipo {
  @include cajasEstilos;
  padding: 0; 
  margin: 0px;

h5 {
    color: #f9c733;
    font-weight: bolder;
    font-size: $tamanioTitulo;
    text-align: center;
  }
}
.cajasEquipo p {
  visibility: hidden;
    
  }

h6 {
  visibility: visible;
  text-align: center;
}
/*FIN PAGINA EQUIPO*/

/*INICIO PAGINA NUESTRO TRABAJO*/

.clientes{
  background-color: #377f8b;
  margin-top: 2%;
}
.clientesText {
  font-family: $tipografiaTexto;
  font-size: $tamanioTexto;
  text-align: left;
  color: $colorTipografia;
  padding: 20px;
  visibility: hidden;
  }
.clientesImg {
  width: 50%;
  margin-left: 25%;
  position: absolute;
  }
.btn-primary {
    color: #f9c733;
    background-color: #377f8b;
    margin: 20px;
}
.btn-outline-warning {
 margin-left: 5%;
 margin-top: 2%;
 margin-bottom: 5%;
 background-color: #377f8b;
 
}
h4 {
  font-family: $tipografiaTexto;
  font-size: $tamanioTitulo;
  color: $colorTipografia;
  text-align: center;
  
}
/*FIN PAGINA NUESTRO TRABAJO*/

/*INICIO PAGINA PLANES*/

.tablaPlanes {
  display: grid;
  background-color: #377f8b;
  grid-template-columns: 20% 75%;
  grid-template-rows: 10% 25% 25% 25%;
  grid-template-areas:
    "columInicio columInicio"
    "row2 row3 "
    "row4 row5"
    "row6 row7";
    column-gap: 1px;
    row-gap: 1px;
  justify-content: space-between;
  align-items:flex-start;
  margin-top: 5%;
  border: #377f8b 2px solid;
 
  .planesDescripcion {
    color: $colorTipografia;
    font-family: $tipografiaTexto;
    font-size: $tamanioTexto;
    padding-left: 10px;
    padding-right: 12px;
    text-align: center;
    border-bottom: #f9c733 solid 2px;
  }
  .rowDescripcion {
    color: $colorTipografia;
    font-family: $tipografiaTexto;
    font-size: 1rem;
    text-align: left;
    margin: 5px;
  }
}
#rowInicio {
  grid-area: columInicio;
  font-family: $tipografiaTitulo;
}
#row2 {
  grid-area: row2;
}
#row3 {
  grid-area: row3;
  border-bottom: #f9c733 solid 2px;
}
#row5 {
  grid-area: row4;
}
#row6 {
  grid-area: row5;
  border-bottom: #f9c733 solid 2px;
}
#row8 {
  grid-area: row6;
}
#row9 {
  grid-area: row7;
  border-bottom: #f9c733 solid 2px;
}
.d-grid {
  display: grid !important;
  justify-content: center;
}
/*FIN PAGINA PLANES*/

/*INICIO PAGINA CONTACTO*/
.clientesContacto{
 width: 100%;

}

#formulario {
  background-color: #377f8b;
  background-image: linear-gradient(to right, #377f8b, #aa8321);
  position: relative;
  margin-top: 10%;
}

#formularioUno {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin: 10px;
    font-family: $tipografiaTexto;
    font-size: 0.875rem;
    color: #377f8b;

    #mensajeContacto {
      resize: vertical;
      height: 100px;
      width: 40%;
    }
  }
.botonPlanes {
  font-family: $tipografiaTexto;
  color: #cc7760;
  border-radius:10% ;
}


input,
select {
  font-family: "Open Sans Condensed", sans-serif;
  color: #cc7760;
}

/*FIN PAGINA CONTACTO*/


/*FIN PAGINA ERROR 404*/
.errorPagina{
  padding: 30px 20px;
    font-family: $tipografiaTexto;
    line-height: 1.6;
    background-color: #f9c733;
  
 
  
  h1 {
    margin: 0 0 40px;
    font-size: 60px;
    line-height: 1;
    color: #252427;
    font-weight: 700;
  }
  
  h2 {
    margin: 100px 0 0;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #aa8324;
    text-transform: uppercase;
  }
  
  p {
    font-size: 16px;
    margin: 1em 0;
  }
  }
  
  .go-back a {
    display: inline-block;
    margin-top: 3em;
    padding: 10px;
    color: #377f8b;
    font-weight: 700;
    border: solid 2px #377f8b;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  .go-back a:hover {
    border-color: #1B1A1A;
  }
  
  
  /*FIN PAGINA ERROR 404*/