@import "utilities/_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $colorFondo;
  width: 100%;
}

/*INICIO ENCABEZADO GENERAL*/

header {
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .fotoEncabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count: initial;
  }
}
#menu {
  color: $colorTipografia;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  background-image: linear-gradient(to top, #dfb129, #cc7760);
}
ul {
  display: flex;
  list-style-type: none;

  li {
    border-right: 2px solid #cc7760;
    margin: 0;

    #navInicio {
      text-decoration: none;
      text-align: center;
      font-size: 1.3rem;
      font-family: $tipografiaTexto;
      color: $colorTipografia;
      font-weight: bolder;

      &:hover {
        background-color: $colorFondo;
        color: #cc7760;
        padding: 4px;
      }
    }
  }
}
.navbar-light .navbar-brand {
  color: #377f8b;
  font-weight: bold;
}

li:last-child {
  border-right: none;
}

/*FIN ENCABEZADO GENERAL*/
/*INICIO PAGINA PRINCIPAL*/
.fondo {
  display: flex;
  flex-direction: column;
  color: $colorTitulo;
  font-family: $tipografiaTitulo;
  margin: 1px 2px 1px 2px;
  justify-content: space-evenly;
  align-items: center;
  background-image: $imgFondo;
  background-repeat: no-repeat;
  background-size: cover;
  border: outset 2px #cc7760;
  padding: 50px;

  .tituloPrincipal {
    color: $colorTitulo;
    font-size: $tamanioTitulo;
    text-align: center;
    font-family: $tipografiaTitulo;
    padding: 0px;
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count: initial;
  }
}

.container {
  background-color: #377f8b;
  opacity: 90%;

  #textoPrincipal {
    font-size: 1.5rem;
    color: $colorTipografia;
    font-family: $tipografiaTexto;
    padding: 60px;
    text-align: justify;
    line-height: 40px;
    animation-duration: 8s;
    animation-name: aparecer;
    animation-iteration-count: inherit;
  }
}

/*FIN PAGINA PRINCIPAL*/

/*INICIO FOOTER*/
.piePagina {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 30%;
  grid-template-areas:
    "h3 h3 h3"
    "pie1 pie4 pie2"
    "pie3 pie3 pie3";
  column-gap: 0px;
  row-gap: 2px;
  align-items: end;
  height: $anchoCajas;
  background-color: #377f8b;
  background-image: linear-gradient(#cc7760, #377f8b);

  h3 {
    font-family: $tipografiaTitulo;
    color: $colorTipografia;
    font-size: $tamanioTitulo;
    grid-area: h3;
    text-align: center;
  }
}

.contactosEstilo p {
  color: $colorTipografia;
  font-family: $tipografiaTexto;
  font-size: $tamanioTexto;
  text-align: center;
  font-weight: bold;
}
#pie1 {
  grid-area: pie1;
}

#pie4 {
  grid-area: pie4;
}
#pie2 {
  grid-area: pie2;
}
#pie3 {
  grid-area: pie3;
}
.socialIcon {
  color: #f9c733;
  font-size: 1.875rem;
  left: 45%;
  position: relative;
  text-decoration: none;
}

/*FIN FOOTER*/

/*INICIO PÁGINA EQUIPO*/

.equipoFlex {
  background-color: #377f8b;
  max-width: 60%;
  margin-bottom: 30px;
}
.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}
.equipoFlex img {
  float: left;
  margin: 30px 50px 30px 50px;
}

.cajasEquipo {
  @include cajasEstilos;

  h5 {
    color: #f9c733;
    font-weight: bolder;
    font-size: $tamanioTitulo;
    text-align: center;
  }
  .cajasEquipo p {
    margin-left: 10px;
  }
}
h6 {
  visibility: hidden;
}
/*FIN PAGINA EQUIPO*/

/*INICIO PAGINA NUESTRO TRABAJO*/
.clientes {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin: 60px;
  background-color: #377f8b;
  padding: 30px;
  margin-bottom: 80px;
}

.card {
  margin: 10px;

  .card-text {
    font-family: $tipografiaTexto;
    font-size: $tamanioTexto;
    padding-left: 10px;
    padding-right: 12px;
    text-align: left;
    line-height: 30px;
    color: #377f8b;
  }
  .card-img,
  .card-img-bottom,
  .card-img-top {
    width: 65%;
    margin-left: 20%;
  }
}
h4 {
  font-family: $tipografiaTexto;
  font-size: $tamanioTitulo;
  color: #377f8b;
}
.btn-outline-warning {
  background-color: $colorFondo;
  color: #377f8b;
}
.btn-outline-warning:hover {
  color: #cc7760;
  background-color: #ffc107;
  border-color: #ffc107;
}

/*FIN PAGINA NUESTRO TRABAJO*/

/*INICIO PAGINA PLANES*/

.tablaPlanes {
  display: grid;
  background-color: #377f8b;
  grid-template-columns: 20% 80%;
  grid-template-rows: 15% 25% 25% 25%;
  grid-template-areas:
    "columInicio columInicio"
    "row2 row3 "
    "row4 row5"
    "row6 row7";
  column-gap: 5px;
  row-gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
  margin-left: 50px;
  margin-right: 50px;
  border: #377f8b 2px solid;
  padding: 10px;

  .planesDescripcion {
    color: $colorTipografia;
    font-family: $tipografiaTexto;
    font-size: $tamanioTexto;
    padding-left: 10px;
    padding-right: 12px;
    text-align: center;
    line-height: 30px;
    border-bottom: #f9c733 solid 2px;
  }

  .rowDescripcion {
    color: $colorTipografia;
    font-family: $tipografiaTexto;
    font-size: $tamanioTexto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    line-height: 30px;
    margin: 0;
  }
}
#rowInicio {
  grid-area: columInicio;
  font-family: $tipografiaTitulo;
}
#row2 {
  grid-area: row2;
}
#row3 {
  grid-area: row3;
  border-bottom: #f9c733 solid 2px;
}

#row5 {
  grid-area: row4;
}
#row6 {
  grid-area: row5;
  border-bottom: #f9c733 solid 2px;
}

#row8 {
  grid-area: row6;
}
#row9 {
  grid-area: row7;
  border-bottom: #f9c733 solid 2px;
}

.btn-primary{
color: $colorTipografia;
background-color: #377f8b;
}

/*FIN PAGINA PLANES*/
/*INICIO PAGINA CONTACTO*/

#formulario {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 70px;
  background-color: #377f8b;
  background-image: linear-gradient(to right, #377f8b, #aa8321);
  width: 70%;

  #formularioUno {
    margin: 30px;
    font-family: $tipografiaTexto;
    font-size: $tamanioTexto;
    line-height: 1.6;
    color: $colorTipografia;

    #mensajeContacto {
      resize: vertical;
      width: 70%;
      height: 200px;
    }
  }
}

input,
select {
  font-family: $tipografiaTexto;
  color: #cc7760;
}
/*FIN PAGINA CONTACTO*/
