@import "utilities/_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/fototerracita\ .jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-position: initial;

}

/*INICIO ENCABEZADO GENERAL*/

header {

  @keyframes aparecer {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .fotoEncabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count: initial;


    img {
      margin: 10rem;
      margin-bottom: 0;
      width: 500px;
      height: 500px;

    }
  }
  .tituloPrincipal {
    color: $colorTipografia;
    font-size: $tamanioTitulo;
    text-align: center;
    font-family: $tipografiaTitulo;
    padding: 20px;
    padding-bottom: 0px;
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count: initial;
  }


}

.logoInicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: initial;
  margin: 5%;
  img {
    
    width: 300px;
    height: 300px;

  }
}

#menu {

  color: $colorTipografia;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  float: left;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../img/logo\ 1.png");

}

ul {
  display: flex;
  list-style-type: none;


  li {
    border-right: 2px solid #cc7760;
    margin: 0;

    #navInicio {
      text-decoration: none;
      text-align: left;
      font-size: 1.3rem;
      font-family: $tipografiaTexto;
      color: $colorTipografia;
      font-weight: bolder;

      &:hover {
        background-color: $colorFondo;
        color: #cc7760;
        padding: 4px;
      }
    }
  }
}

.navbar-brand {
  color: #377f8b;
  font-weight: bold;
}

li:last-child {
  border-right: none;
}

/*FIN ENCABEZADO GENERAL*/

/*INICIO PAGINA PRINCIPAL*/
.fondo {
  display: flex;
  flex-direction: column;
  color: $colorTitulo;
  font-family: $tipografiaTitulo;


 
  .text-muted {
    color: #cc7760 !important;
    font-family: $tipografiaTexto;
    font-weight: bolder;
  }
}

.container {
  position: relative;
  top: 80px;
  background-color: #377f8b;
  opacity: 90%;
}

#textoPrincipal {
  font-size: 1.5rem;
  color: $colorTipografia;
  font-family: $tipografiaTexto;
  animation-duration: 8s;
  animation-name: aparecer;
  animation-iteration-count: inherit;
}

/*FIN PAGINA PRINCIPAL*/

/*INICIO FOOTER*/
.piePagina {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 20% 40% 40%;
  grid-template-areas:
    "h3 h3 h3"
    "pie1 pie4 pie2"
    "pie3 pie3 pie3";
  column-gap: 0px;
  row-gap: 1px;
  align-items: end;
  margin-top: 40%;

}

h3 {
  font-family: $tipografiaTitulo;
  color: $colorTipografia;
  font-size: $tamanioTitulo;
  grid-area: h3;
  text-align: center;
  visibility: hidden;
}

.contactosEstilo p {
  color: $colorTipografia;
  font-family: $tipografiaTexto;
  font-size: 0.875rem;
  text-align: center;
  font-weight: bold;
}

#pie1 {
  grid-area: pie1;
}

#pie1 p {
  margin-bottom: 0.7rem;
}

#pie4 {
  grid-area: pie4;
}

#pie2 {
  grid-area: pie2;
}

#pie3 {
  grid-area: pie3;
}

.socialIcon {
  color: #f9c733;
  font-size: 1.75rem;
  left: 25%;
  position: relative;
  text-decoration: none;
}

/*FIN FOOTER*/

/*INICIO PÁGINA EQUIPO*/

.equipo {
  @extend.container;
margin-right: 5%;
margin-left: 5%;
}

.carousel-control-next,
.carousel-control-prev {
  width: 2%;
}

.equipo img {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.cajasEquipo {
  @include cajasEstilos;
  padding: 0;
  margin: 0px;

  h5 {
    color: #f9c733;
    font-weight: bolder;
    font-size: $tamanioTitulo;
    text-align: center;
  }
}

.cajasEquipo p {
  visibility: hidden;

}

h6 {
  visibility: visible;
  text-align: center;
}

/*FIN PAGINA EQUIPO*/

/*INICIO PAGINA NUESTRO TRABAJO*/

.clientes {
  background-color: #377f8b;
  margin-top: 2%;
}

.clientesText {
  font-family: $tipografiaTexto;
  font-size: $tamanioTexto;
  text-align: left;
  color: $colorTipografia;
  padding: 20px;
  visibility: hidden;
}

.clientesImg {
  width: 50%;
  margin-left: 25%;
  position: absolute;
}


.btn-primary {
  color: #f9c733;
  background-color: #377f8b;
  margin: 20px;
  position: inherit;

}

.btn-outline-warning {
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
  background-color: #377f8b;
}


h4 {
  font-family: $tipografiaTexto;
  font-size: $tamanioTitulo;
  color: $colorTipografia;
  text-align: center;

}

/*FIN PAGINA NUESTRO TRABAJO*/

/*INICIO PAGINA PLANES*/

.tablaPlanes {
  display: grid;
  background-color: #377f8b;
  grid-template-columns: 20% 80%;
  grid-template-rows: 0%;
  grid-template-areas:
    "columInicio columInicio"
    "row2 row3 "
    "row4 row5"
    "row6 row7";
  column-gap: 1px;
  row-gap: 1px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5%;
  border: #377f8b 2px solid;
  max-width: 100%;
}


.tablaPlanes .rowDescripcion {
  color: $colorTipografia;
  font-family: $tipografiaTexto;
  font-size: 1rem;
  text-align: center;

}

#rowInicio {
  grid-area: columInicio;
  font-family: $tipografiaTitulo;
}

#row2 {
  grid-area: row2;
}

#row3 {
  grid-area: row3;
  border-bottom: #f9c733 solid 2px;
}

#row5 {
  grid-area: row4;
}

#row6 {
  grid-area: row5;
  border-bottom: #f9c733 solid 2px;
}

#row8 {
  grid-area: row6;
}

#row9 {
  grid-area: row7;
  border-bottom: #f9c733 solid 2px;
}

.d-grid {
  display: grid !important;
  justify-content: center;
}

/*FIN PAGINA PLANES*/

/*INICIO PAGINA CONTACTO*/
.clientesContacto {
  width: 100%;

}

#formulario {
  background-color: #377f8b;
  background-image: linear-gradient(to right, #377f8b, #aa8321);
  position: relative;
  margin-top: 10%;
}

#formularioUno {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin: 10px;
  font-family: $tipografiaTexto;
  font-size: 0.875rem;
  color: #377f8b;

  #mensajeContacto {
    resize: vertical;
    height: 100px;
    width: 40%;
  }
}

.botonPlanes {
  font-family: $tipografiaTexto;
  color: #cc7760;
  border-radius: 10%;
}


input,
select {
  font-family: "Open Sans Condensed", sans-serif;
  color: #cc7760;
}

/*FIN PAGINA CONTACTO*/


/*FIN PAGINA ERROR 404*/
.errorPagina {
  padding: 30px 20px;
  font-family: $tipografiaTexto;
  line-height: 1.6;
  background-color: #f9c733;



  h1 {
    margin: 0 0 40px;
    font-size: 60px;
    line-height: 1;
    color: #252427;
    font-weight: 700;
  }

  h2 {
    margin: 100px 0 0;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #aa8324;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    margin: 1em 0;
  }
}

.go-back a {
  display: inline-block;
  margin-top: 3em;
  padding: 10px;
  color: #377f8b;
  font-weight: 700;
  border: solid 2px #377f8b;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.go-back a:hover {
  border-color: #1B1A1A;
}


/*FIN PAGINA ERROR 404*/

/* INICIO PAGINA PLANES ELECCION*/


.form__group {
  padding: 1rem 0;

}

.turnera {
  height: 50%;
}


select {
  margin: 1rem 0;
  padding: 0.3rem 0;
  border-radius: 0.3rem;
  background-color: #f5f4f0;
  border: 2px solid #81fbb8;
}

button {
  margin: 0;
  display: block;
  background-color: white;
  border: 2px solid #81fbb8;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.4s;
}

button:hover {
  border: 2px solid #28c76f;
}

#formulario1 {
  height: 40%;
}

#plan {
  visibility: visible;
}

#servicio {
  visibility: visible;
}

.mensaje {
  padding: 1rem;
  text-align: center;
  margin: 1rem 0;
}

.mensaje p,
.mensaje h3 {
  color: #377f8b;
  font-weight: 200;
}

.mensaje--error {
  background-color: #fa6450;
}

.mensaje--resumen {
  background-color: #f9c733;
}

.loading {
  margin: auto;
  display: block;
  width: 80px;
}

.hide {
  display: none;
}

/* FIN PAGINA PLANES ELECCION*/