
$colorTitulo:#377f8b;
$colorTipografia: #ff9b00;
$tipografiaTitulo: 'Bowlby One SC', cursive;
$tipografiaTexto: 'Santana-RegularCondensed';
$colorFondo:#f9c733;
$anchoCajas: 250px;
$imgFondo: url("../../img/fototerracita.png"); 
$botonColor: #aa8324; 
$tamanioTexto: 1.25rem;
$tamanioTitulo: 2rem;
$letraFooter: 0.875rem; 


/*INICIO PAGINA NUESTRO EQUIPO*/

@mixin cajasEstilos {
  font-family: $tipografiaTexto;
  font-size: $tamanioTexto;
  padding: 30px 30px 30px 10px;
  margin: 90px;
  text-align: left;
  line-height: 30px;
  color: #f9c733;
  position: relative;
  }


  /*FIN PAGINA NUESTRO EQUIPO*/






