.tablaPlanes{
    display: grid;
    background-color: #cc7760;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas: "colum1 colum2 colum3 colum4" 
                        "row1 row4 row7 row10"
                        "row2 row5 row8 row11"
                        "row3 row6 row9 row12";
    column-gap: 1px;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    margin-left: 50px;
    margin-right: 50px;
    border: #377f8b 2px solid;
}

#colum1, #colum2, #colum3, #colum4{
    color: #f9c733;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 12px;
    text-align: center;
    line-height: 30px;
    border-right: 2px solid #377f8b;
    border-bottom: 2px solid #377f8b;
    }


        #row1, #row2, #row3, #row4, #row5, #row6,#row7,
        #row8, #row9, #row10, #row11, #row12{
        color: #f9c733;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 25px;
        font-weight:bold;
        padding-left: 40px;
        padding-right: 20px;
        text-align: center;
        line-height: 30px;
                  }